<h1>Completed Orders</h1>
<h2><a href="/orders/"><button type="button">Return to all Orders</button</a></h2>

{% for order in Completed_orders %}
    <table>

    <thead>
        <tr>
        <th>Order ID</th>
        <th>Product</th>
        <th>SR Name</th>
        <th>Customer Type</th>
        <th>Status</th>
        <th></th>
        </tr>
    </thead>

    <tbody>
    <tr>
        <td><a href="/orders/{{ order.id }}">{{ order.id }}</a></td>
        <td><a href="/orders/{{ order.id }}">{{ order.product }}</a></td>
        <td><a href="/orders/{{ order.id }}">{{ order.SR_first_name }} {{ order.SR_last_name }}</a></td>
        <td><a href="/orders/{{ order.id }}">{{ order.customer_type }}</a></td>
        <td><a href="/orders/{{ order.id }}">{{ order.status }}</a></td>
        <td><a href="/orders/{{ order.id }}/reorder"><button type = "button">Re-Order</button></a></td>
        <td><a href="/orders/{{ order.id }}/approve"><button type = "button">Accept</button></a></td>
        <td><a href="/orders/{{ order.id }}/deny"><button type = "button">Deny</button></a></td>
        </tr>
    </tbody>

</table>
{% empty %}
    <li>No Orders yet.</li>
{% endfor %}
