<h1>Order #{{ order.id }} </h1>

<p>Order Status: {{order.status}}</p>

<p>
Product Ordered: {{order.product}}<br>
Quantity: {{order.quantity}}<br>
Instrument Type: {{order.instrument_category}}<br>
Instrument Handle: {{order.instrument_handle}}<br>
SR Name: {{order.SR_first_name}} {{order.SR_last_name}}<br>
SR Phone Number: {{order.SR_phone_number}}<br>
SR Email: {{order.SR_email}}<br>
Sales Manager: {{order.SM_first_name}} {{order.SM_last_name}}<br>
Department: {{order.department}}<br>
Physician: {{order.physician}}<br>
Hospital: {{order.hospital}}<br>
Customer Type: {{order.customer_type}}<br>
Clinical Need: {{order.clinical_need}}<br>
Instrument Category: {{order.instrument_category}}<br>
Description: {{order.description}}<br>
</p>