<h1>Order #{{ order.id }} </h1>

Order Status: {{order.status}}

Product Ordered: {{order.product}}
Quantity: {{order.quantity}}
Instrument Type: {{order.instrument_category}}
Instrument Handle: {{order.instrument_handle}}
SR Name: {{order.SR_first_name}} {{order.SR_last_name}}
SR Phone Number: {{order.SR_phone_number}}
SR Email: {{order.SR_email}}
Sales Manager: {{order.SM_first_name}} {{order.SM_last_name}}
Department: {{order.department}}
Physician: {{order.physician}}
Hospital: {{order.hospital}}
Customer Type: {{order.customer_type}}
Clinical Need: {{order.clinical_need}}
Instrument Category: {{order.instrument_category}}
Description: {{order.description}}