<h1>Order #{{ order.id }} </h1>

<p><h2>Order Status: {{order.status}}</h2></p>

<p>
<b>Product Ordered:</b> {{order.product}}<br>
<b>Quantity:</b> {{order.quantity}}<br>
<b>Instrument Type:</b> {{order.instrument_category}}<br>
<b>Instrument Handle:</b> {{order.instrument_handle}}<br>
<b>SR Name:</b> {{order.SR_first_name}} {{order.SR_last_name}}<br>
<b>SR Phone Number:</b> {{order.SR_phone_number}}<br>
<b>SR Email:</b> {{order.SR_email}}<br>
<b>Sales Manager:</b> {{order.SM_first_name}} {{order.SM_last_name}}<br>
<b>Department:</b> {{order.department}}<br>
<b>Physician:</b> {{order.physician}}<br>
<b>Hospital:</b> {{order.hospital}}<br>
<b>Customer Type:</b> {{order.customer_type}}<br>
<b>Clinical Need:</b> {{order.clinical_need}}<br>
<b>Instrument Category:</b> {{order.instrument_category}}<br>
<b>Description:</b> {{order.description}}<br>
{% if order.status == "DENIED": %}
    <b>Denial Reason:</b> {{order.denial_reason}}<br>
{% endif %}
</p>