<h1>Medtronics Supply Store</h1>
<p><a href='/products/' target="_blank">
	<button type="button">Product Catalog</button></p>
	
<p><a href='orders/8/reorder' target="_blank">
	<button type="button">Place Order for New Product</button></p>
	
<p><a href='/orders/' target="_blank">
	<button type="button">Review Orders</button></a></p>

<p><a href='/admin/' target="_blank">
	<button type="button">ADMIN PAGE</button></a></p>

<h2>Most Recent Orders</h2>
{% for order in latest_orders %}
	<table>
    <thead>
        <tr>
        <th></th>
        <th>Product</th>
        <th>SR Name</th>
        <th>Customer Type</th>
        <th>Status</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="/orders/{{ order.id }}"><img src="{{ order.product.image.url }}" width=50 height=50></a></td>
        <td><a href="/orders/{{ order.id }}">{{ order.product }}</a></td>
        <td><a href="/orders/{{ order.id }}">{{ order.SR_first_name }} {{ order.SR_last_name }}</a></td>
        <td><a href="/orders/{{ order.id }}">{{ order.customer_type }}</a></td>
        <td><a href="/orders/{{ order.id }}">{{ order.status }}</a></td>
        <td><a href="/orders/{{ order.id }}/reorder"><button type = "button">Re-Order</button></a></td>
        </tr>
    </tbody>
    </table>
{% endfor %}

<h2>Most Frequent Re-Orders</h2>
{% for order in most_reorders %}
	<table>
    <thead>
        <tr>
        <th></th>
        <th>Product</th>
        <th>SR Name</th>
        <th>Customer Type</th>
        <th>Status</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="/orders/{{ order.id }}"><img src="{{ order.product.image.url }}" width=50 height=50></a></td>
        <td><a href="/orders/{{ order.id }}">{{ order.product }}</a></td>
        <td><a href="/orders/{{ order.id }}">{{ order.SR_first_name }} {{ order.SR_last_name }}</a></td>
        <td><a href="/orders/{{ order.id }}">{{ order.customer_type }}</a></td>
        <td><a href="/orders/{{ order.id }}">{{ order.status }}</a></td>
        <td><a href="/orders/{{ order.id }}/reorder"><button type = "button">Re-Order</button></a></td>
        </tr>
    </tbody>
    </table>
{% endfor %}

<h2>Featured Products</h2>
{% for product in featured_prods %}
	<table>
    <thead>
        <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="/products/{{ product.id }}"><img src="{{ product.image.url }}" width=50 height=50></a></td>
        <td><a href="/products/{{ product.id }}">{{ product.name }}</a></td>
        <td><a href="/products/{{ product.id }}">{{ product.price }}</a></td>
        <td><a href="/products/{{ product.id }}/order/create/"><button type = "button">Order</button></a></td>
        </tr>
    </tbody>
    </table>
{% endfor %}
